
@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.EF.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminTV/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-user"></i>&nbsp; Quản Lí Sản Phẩm
}
@*<p>
        @Html.ActionLink("Tạo Mới", "Create", "User", new { @class = "btn btn-danger" })
    </p>*@
@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Tạo Mới", "Create", "Product", new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" />

        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-default" />
        </div>

    </div>
}
<table class="table">
    <tr >
        <th>
            Id
        </th>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Đơn Giá
        </th>
        <th>
           Số Lượng
        </th>
        @*<th>
            Ảnh
        </th>*@
        <th>
            Mô Tả
        </th>
        @*<th>
            Trạng Thái
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.Name">
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "ProductDetail", new { id = item.ID }) |
                &nbsp;
                @Ajax.ActionLink("Xóa", "Delete", new { @name = item.Name }, new AjaxOptions
                    {
                        Confirm = "Bạn có chắc chắn muốn xóa?",
                        OnComplete = "$('#row_" + @item.Name + "').remove()",
                        HttpMethod = "Delete"
                    }
                )
                
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))